.user{
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: inherit;
    border-radius: 50px;
    box-shadow:5px 5px 10px 10px #d0cdcdb1 ;
}

.subUser{
    margin: 25px 25px 25px 25px;
    cursor: default;
}

button{
    cursor: pointer;
}

.name{
    cursor: text;
    width:50px;
    display: inline-block;
}

.lastName{
    cursor: text;
    width:50px;
    display: inline-block;
}

img{
    height: 100px;
    width: 100px;
    
}

.userPhoto{
    border-top: 1px solid #808080b1;
    border-bottom: 1px solid #808080b1;
}

.btnChange{
    margin-left: 10px;
}

.btnDelete{
    margin-top: 10px;
}

.personalInfo{
    border-bottom: 1px solid #808080b1;
}

.prefName{
    margin-bottom: 10px;
}

.btnGroup{
    margin-top: 10px;
}