body{
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    background: #EAE3D2;
}

.container{
    display: flex;
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #1C3879;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 15px 5px;
}

.logo img{
    width: 70px;
    height: 50px;
 }
 
.logo span{
    font-weight: bold;
    color: white;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

li{
    display: inline;
}

nav .menu-item:hover{
    background-color: #607EAA;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    width: 180px;
    margin-left: 5px;
}

nav .menu-item{
    position: relative;
    color: white;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    
}
nav .glyphicon{
    position: relative;
    width: 50px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

nav .edit-item{
    position: absolute;
    bottom: 8px;
    left: 0;
    color: white;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

nav .add-item{
    position: absolute;
    bottom: 8px;
    left: 110px;
    color: white;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.search{
    display: flex;

}

nav1 div:hover{
    background-color: #EAE3D2;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    width: 227px;
    margin-left: 5px;
}


nav1{
    color: white;
    position: relative;
    top: 0;
    margin-left: 200px;
    bottom: 0;
    height: 100vh;
    background: #607EAA;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.search input[type=text]{
    position: relative;
    padding: 6px;
    margin-left: 5px;
    top: 2px;
    border: black;
    text-align: left;
    font-size: 15px;
    width: 227px;
    height: 50px; 
    border-radius: 10px;
}

.note{
    position: relative;
    padding: 6px;
    margin-left: 2px;
    top: 10px;
    border: 1px rgb(203, 196, 196);
    text-align: left;
    font-size: 13px;
    width: 246px;
    height: 75px;
    cursor: pointer;
}


.write{
 display: flex;
}

nav2{
    position: absolute;
    top: 50px;
    margin-left: 460px;
    bottom: 0;
    height: 91vh;
    background: #F9F5EB;
    border-radius: 20px;
    width: 68.5%;
    overflow: hidden;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
}

nav2 textarea{
    position: absolute;
    top: 5px;
    margin-left: 5px;
    bottom: 0;
    height: 91vh;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    background: #F9F5EB;
    width: 100%;
}
.buttons{
    display: flex;
    cursor: pointer;
}
nav3{
    position: absolute;
    top: 1px;
    margin-left: 460px;
    bottom: 0;
}
nav3 .glyphicon{
    position: relative;
    width: 50px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
nav3 .trash{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
}
nav3 .save{
    position: absolute;
    top: 0;
    margin-left: 50px;
    color: black;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
}
nav3 .share{
    position: absolute;
    top: 0;
    left: 900px;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
}

nav3 .plus{
    position: absolute;
    top: 0;
    left: 930px;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
}

nav3 .account{
    position: absolute;
    top: 0;
    left: 960px;
    margin-right: 10px;
    color: black;
    font-size: 15px;
    display: table;
    width: 200px;
    padding: 5px;
}




